/* Import fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,300;8..144,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quintessential&family=Roboto+Flex:opsz,wght@8..144,100;8..144,300;8..144,400&display=swap");

/* Reset CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body styles */
body {
  background-color: #f6f5f1;
  min-height: 100vh;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}

footer {
  width: 100%;
  margin-top: auto;
  padding: 10px 0;
}
/* Anchor styles */
a {
  text-decoration: none;
}

/* Header styles */
header {
  justify-content: space-between;
  padding: 30px 70px;
  display: flex;
  align-items: center;
  padding: 20px;
}

.logo {
  cursor: pointer;
  width: 250px;
  max-width: 100%;
}

/* Navigation styles */
.navBar {
  list-style: none;
  display: flex;
  margin-top: -20px;
}

.navBar li {
  display: inline-block;
  padding: 0 10px;
  font-family: "Roboto Flex", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  margin-right: 20px;
}

.navBar li a {
  transition: 0.3s;
  color: black;
}

.navBar li a:hover {
  color: #2a3512;
  opacity: 30%;
}

.container {
  display: flex;
  width: 90%;
  margin: auto;
}

.profilePic {
  width: auto; /* Allow the width to adjust automatically */
  max-width: 100%; /* Ensure the image doesn't exceed its container's width */
  height: auto; /* Allow the height to adjust automatically */
  max-height: 300px; /* Set a maximum height for the image */
  border-radius: 0 45% 0 0;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  margin: 0 auto; /* Center the image horizontally */
}

/* Styles for column 1 text */
#h1id {
  font-weight: 300;
  letter-spacing: 9px;
  font-size: 37px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 40px;
}

#pid {
  font-weight: 300;
  margin: 20px 0;
  font-size: 20px;
  text-align: center;
  text-shadow: 10px 2px 4px;
}


.leftButton{
  margin: auto 0px;
}



.leftButton button {
  background-color: #b9bbae;
  border: none;
  cursor: pointer;
  font-size: 50px; /* Decrease font size for smaller screens */
  border-radius: 50%;
  height: 90px;
  width: 90px;
}

.leftButton button:hover {
  background-color: rgb(255, 255, 255);
  filter: drop-shadow(5px 6px 1px #b9bbae);
}

button a {
  text-decoration: none;
  color: black;
}

.rightButton{
  margin: auto 0px;
}


.rightButton button {
  background-color: #b9bbae;
  border: none;
  cursor: pointer;
  font-size: 50px; /* Decrease font size for smaller screens */
  border-radius: 50%;
  height: 90px;
  width: 90px;
}

.rightButton button:hover {
  background-color: rgb(255, 255, 255);
  filter: drop-shadow(5px 6px 1px #b9bbae);
}

h6 {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 100;
  /* margin-left: 42%; */
}

/* Styles for GitHub icon */
#github {
  height: 50px;
}


/* Styles for social icons */
.socials {
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.fa-brands {
  color: black;
}

/* Styles for toggle menu */
.toggle-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 20px;
  right: 20px;
}

.toggle-menu span {
  background: #000;
  height: 3px;
  width: 25px;
  margin: 5px;
  display: block;
}

.toggle-menu.active span:nth-child(1) {
  transform: rotate(-135deg) translate(-5px, -6px);
}

.toggle-menu.active span:nth-child(2) {
  opacity: 0;
}

.toggle-menu.active span:nth-child(3) {
  transform: rotate(135deg) translate(-5px, 6px);
}

/* Media query for smaller screens */
@media only screen and (max-width: 1087px) {
  /* Adjust font size for smaller screens */
  body {
    font-size: 12px;
  }

  /* Adjust header layout for smaller screens */
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  /* Display navigation menu vertically on smaller screens */
  .navBar {
    display: none;
    flex-direction: column;
    width: 20%;
    position: absolute;
    top: 40px;
    background-color: rgba(185, 187, 174, 0.9);
    z-index: 1;
    margin-top: 20px;
    gap: 20px;
    right: 20px;
    padding: 15px 0px;
    border-radius: 5px;
  }

  /* Display navigation menu when active */
  .navBar.show {
    display: flex;
  }

  /* Align navigation items to right */
  .navBar li {
    text-align: right;
    margin: 0;
    color: white;
  }

  /* Display toggle menu */
  .toggle-menu {
    display: flex;
  }

  .contentFlow {
    margin-top: 20%;
}
/* ---------------------------------- */
.contentFlow {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
}
/* ----------------------------------- */
@media only screen and (max-width: 630px) {
  .profilePic {
    width: auto; 
    max-width: 100%; 
    height: auto; 
    max-height: 200px; 
    border-radius: 0 45% 0 0;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
    margin: 0 auto; 
  }
  

}

/* ----------------------------------- */
@media only screen and (max-width: 479px) {
  .profilePic {
    width: auto; 
    max-width: 100%; 
    height: auto; 
    max-height: 180px; 
    border-radius: 0 45% 0 0;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
    margin: 0 auto; 
  }
  
  .leftButton button {
    background-color: #b9bbae;
    border: none;
    cursor: pointer;
    font-size: 25px; /* Decrease font size for smaller screens */
    border-radius: 50%;
    height: 45px;
    width: 45px;
  }

  .rightButton button {
    background-color: #b9bbae;
    border: none;
    cursor: pointer;
    font-size: 25px; /* Decrease font size for smaller screens */
    border-radius: 50%;
    height: 45px;
    width: 45px;
  }
  


  h6 {
    margin-top: 12px;
    font-size: 12px;
    font-weight: 100;
    /* margin-left: 42%; */
  }
  #pid {
    font-weight: 300;
    margin: 20px 0;
    font-size: 16px;
    text-align: center;
    text-shadow: 10px 2px 4px;
  }
  



}