@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,300;8..144,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quintessential&family=Roboto+Flex:opsz,wght@8..144,100;8..144,300;8..144,400&display=swap");

/* Reset CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body styles */
body {
  background-color: #f6f5f1;
  min-height: 100vh;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}

footer {
  width: 100%;
  margin-top: auto;
  padding: 10px 0;
}
.title h1 {
  color: #b9bbae;
  text-decoration: underline;
  text-align: center;
}
/* Anchor styles */
a {
  text-decoration: none;
}

/* Header styles */
header {
  justify-content: space-between;
  padding: 30px 70px;
  display: flex;
  align-items: center;
  padding: 20px;
}

.logo {
  cursor: pointer;
  width: 250px;
  max-width: 100%;
}

/* Navigation styles */
.navBar {
  list-style: none;
  display: flex;
  margin-top: -20px;
}

.navBar li {
  display: inline-block;
  padding: 0 10px;
  font-family: "Roboto Flex", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  margin-right: 20px;
}

.navBar li a {
  transition: 0.3s;
  color: black;
}

.navBar li a:hover {
  color: #2a3512;
  opacity: 30%;
}

.container {
  display: flex;
  width: 90%;
  margin: auto;
}

/* Styles for GitHub icon */
#github {
  height: 50px;
}

/* Styles for social icons */
.socials {
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-brands {
  margin-right: 20px;
  color: black;
}

/* Styles for toggle menu */
.toggle-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 20px;
  right: 20px;
}

.toggle-menu span {
  background: #000;
  height: 3px;
  width: 25px;
  margin: 5px;
  display: block;
}

.toggle-menu.active span:nth-child(1) {
  transform: rotate(-135deg) translate(-5px, -6px);
}

.toggle-menu.active span:nth-child(2) {
  opacity: 0;
}

.toggle-menu.active span:nth-child(3) {
  transform: rotate(135deg) translate(-5px, 6px);
}

/* Media query for smaller screens */
@media only screen and (max-width: 1087px) {
  /* Adjust font size for smaller screens */
  body {
    font-size: 12px;
  }

  /* Adjust header layout for smaller screens */
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  /* Display navigation menu vertically on smaller screens */
  .navBar {
    display: none;
    flex-direction: column;
    width: 70%;
    height: 70%;
    position: absolute;
    top: 40px;
    background-color: rgba(185, 187, 174, 0.9);
    z-index: 1;
    margin-top: 20px;
    gap: 10%;
    right: 20px;
    padding: 15px 0px;
    border-radius: 5px;
  }
  /* Display navigation menu when active */
  .navBar.show {
    display: flex;
  }

  /* Align navigation items to right */
  .navBar li {
    text-align: right;
    margin: 0;
    color: white;
    font-weight: 900;
  }
  /* Display toggle menu */
  .toggle-menu {
    display: flex;
  }
}

/* ============================login======================= */
.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #dde1e7;
  border-radius: 8px;

  width: 30%;
  margin: 50px auto;
}

.loginForm input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
}

.loginForm input[type="submit"] {
  cursor: pointer;
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #dde1e7;
  border: 1px solid #dde1e7;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.loginForm input::placeholder {
  color: #b3b3b3;
}

.loginForm a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.loginForm a:hover {
  text-decoration: underline;
}

#noAccount h6 {
  font-size: 18px;
  font-weight: 200;
  text-align: center;
}
#noAccount h6 a {
  color: red;
  text-decoration: underline;
}
#noAccount h6 a:hover {
  text-shadow: 5px 5px 3px black;
}

@media only screen and (max-width: 1085px) {
  .loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #dde1e7;
    border-radius: 8px;
    width: 80%;
    margin: 50px auto;
  }

  .loginForm input {
    width: 90%;
    padding: 10px;
    margin: 20px 0;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
  }
}
