@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,300;8..144,400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Quintessential&family=Roboto+Flex:opsz,wght@8..144,100;8..144,300;8..144,400&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #f6f5f1;
  height: 100vh;
  font-family: "roboto flex", sans-serif;
  font-weight: 600;
  font-size: 14px;
}
a {
  text-decoration: none;
}
header {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 30px 70px;
}
.logo {
  cursor: pointer;
  width: 250px;
  /* margin-bottom:80px; */
}
.navBar {
  list-style: none;
}
.navBar li {
  display: inline-block;
  padding: 0 15px;
  font-family: "roboto-flex", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
}
.navBar li a {
  transition: 0.3s;
  color: black;
}
.navBar li a:hover {
  color: #2a3512;
  opacity: 30%;
}
.login {
  cursor: pointer;
  color: black;
  /* font-size: 16px; */
  text-transform: uppercase;
  font-family: "roboto-flex", sans-serif;
  font-weight: 300;
}

.evenColumns {
  display: flex;
  /* gap:10px; */
  color: rgb(0, 0, 0);
  padding: 0 65px;
  justify-content: space-center;
  /* align-items: center; */
  flex-wrap: wrap;
}

.col {
  /* width: 200px; */
  /* margin: 10px; */
  /* border: 3px solid green; */
  /* background-color: white; */
  height: 70vh;
  align-items: center;
}
.col1 {
  /* flex-grow: ; */
  /* padding: 0 100px; */
  /* margin: 50px; */
  /* flex-grow: 1; */
  /* align-content: center; */
  /* margin: 1; */
  width: 30%;
}
.col2 {

  width: 40%;
}
.col3 {
 
  width: 30%;
}
.col2 img {
 
  width: 100%;
  border-radius: 0 0 0 45%;
  padding: 10%;
  filter: drop-shadow(30px -10px 5px #2a351259);

}
.col1 #h1id {
  font-family: "Roboto Flex", sans-serif;
  font-weight: 300;
  letter-spacing: 9px;
  font-size: 37px;
}
.col1 #pid {
  font-family: "Roboto Flex", sans-serif;
  font-weight: 300;
  margin: 20px 0;
  font-size: 20px;
  text-align: center;
  text-shadow: 10px 2px 4px;
}
.col1 #h1id,
#pid,
button {
  margin-top: 40%;
}
.col1 button {
  margin: 30%;
  background-color: #b9bbae;
  height: 40px;
  width: 135px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  border-radius: 30px;
}
.col1 button:hover {
  /* color: red; */
  background-color: rgb(255, 255, 255);
  filter: drop-shadow(5px 6px 1px #b9bbae);
}
.col1 button a {
  text-decoration: none;
  font-family: "roboto flex", sans-serif;
  color: black;
}

.col3 button {
  background-color: #b9bbae;

  border: none;
  cursor: pointer;
  font-size: 70px;
  border-radius: 50%;
  margin-top: 50%;
  height: 90px;
  width: 90px;
}
.col3 button:hover {
  background-color: rgb(255, 255, 255);
  filter: drop-shadow(5px 6px 1px #b9bbae);
}
.col3 button a {
  text-decoration: none;
  font-family: "roboto flex", sans-serif;
  color: black;
  padding-bottom: 50px;
}
.col3 button,
h6 {
  margin-left: 40%;
}
.col3 h6 {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 100;
  margin-left:42%;
}

#github {
  height: 50px;
}

footer {
  margin-top: 5%;
}
.socials {
  /* color: red; */
  margin-left: 600px;
  font-size: 25px;
}
.fa-brands {
  margin-right: 20px;
  color: black;
}

/* ==================About me page==================== */
.twoColumn {
  display: flex;
  flex-wrap: wrap;
  padding: 0 65px;
}
.column {
  /* border: 3px solid red; */
  height: 70vh;
}
.column1 {
  width: 50%;
}
.column2 {
  width: 50%;
}
.title h1 {
  color: #b9bbae;
  text-decoration: underline;
  text-align: center;
}
.column1 #pAbId {
  padding: 0px;
  color: black;
  margin: -0px 100px;
  font-size: 30px;
  font-weight: 200;
  text-align: center;
}
.column1 img {
  width: 480px;

  border-radius: 0 42% 0 0%;
  padding: 10% 10% 0% 10%;
  margin: -10px 50px 0;

  filter: drop-shadow(-30px 10px 5px #2a351259);
}

.column2 #pAbId {
  padding: 0px;
  color: black;
  margin: 10% 100px;
  font-size: 30px;
  font-weight: 100;
  text-align: center;
}
.aboutFoot {
  margin-top: 30px;
}




/* ======================Contact me page================================ */
.contactColumns {
  display: flex;
  height: 70vh;
  padding: 0 65px;
}
.contColumn {
  /* border: 5px solid blue; */
}
.conCol1 {
  width: 100%;
}
.conCol1 .col-1-3 textarea::placeholder {
  margin-left: 10px;
}
.conCol1 .col-1-3 {
  height: 100%;
  padding: 64px;
}
.conCol1 .col-1-3 {
  font-weight: 100;
}
.conCol1 .col-1-3 #name,
#email,
#about {
  background-color: white;
  font-size: 16px;
  min-width: 70%;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 10px 0;
  min-height: 40px;
  font-family: "roboto-flex", sans-serif;
}

.conCol1 .col-1-3 #comments {
  background-color: white;
  font-size: 18px;
  min-width: 70%;
  max-width: 100px;
  /* max-width: 500px; */
  min-height: 80px;
  max-height: 150px;
  border: 1px solid grey;
  margin: 10px 0;
  border-radius: 5px;
}

.conCol1 .col-1-3 #name:focus,
#email:focus,
#about:focus,
#comments:focus {
  border: 10px solid red 20px;
  box-shadow: 8px 3px 10px grey;
}
#send {
  background-color: #b9bbae;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 100;
  border-radius: 15px;
  font-family: "roboto-flex", sans-serif;
  padding: 5px;
  margin: 0 0 0 25%;
}

#send:hover {
  background-color: rgb(255, 255, 255);
  filter: drop-shadow(5px 6px 1px #b9bbae);
}
#formTitle h5 {
  text-align: left;
  font-weight: 300;
  font-size: 20px;
}

.conCol2 {
  padding: 100px 14% 0 14%;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  text-shadow: 2px 5px 2px grey;
}

/* ========================================My work================================= */
.workColumns {
  display: grid;
  padding: 0 0 0 150px;
  width: 100px;

}

.wColumns{
  /* border: 5px solid green; */
  width: 100%;
  height: 600px;
}
.wcol1 img{
  width: 1000px;
  height: 500px;
  padding-top: 50px;
}
.wcol2 img{
  width: 1000px;
  height: 500px;
  
}
#p1,
#p2{
  text-align: center;
  font-weight: 300;
  margin-top: 20px;
  text-shadow: 2px 5px 2px grey;
}
/* ============================login======================= */
#fname,#logEmail,#logEmailUp,
#password ,#passwordUp ,#passwordConf{
  /* background-color: white; */
  font-size: 16px;
  width: 300px;
  /* border: 1px solid grey; */
  border-radius: 5px;
  margin: 10px 0;
  min-height: 40px;
  font-family: "roboto-flex", sans-serif;
  margin-left: 20%;
  
}
#fname:focus,
#logEmail:focus,#logEmailUp:focus,
#password:focus,#passwordUp:focus , #passwordConf:focus {
  /* box-shadow: 8px 3px 10px grey; */
}
#sending, #sendingUp {
  background-color: #b9bbae;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 100;
  border-radius: 15px;
  font-family: "roboto-flex", sans-serif;
  padding: 5px 40px;
  /* margin:0; */
  margin: 20px 0 30px 145px;
  
}

#sending:hover, #sendingUp:hover {
  background-color: rgb(255, 255, 255);
  filter: drop-shadow(5px 6px 1px #b9bbae);
}




.loginForm {
  margin: 50px 500px 0;
}

#noAccount h6 {
  font-size: 18px;
  font-weight: 200;
  /* text-align: left; */
  cursor: pointer;
  margin-left:590px;
  
  
}
#noAccount h6 #signUp {
  color: red;
  text-decoration: underline;
}
#noAccount h6 #signUp:hover {
  text-shadow: 5px 5px 3px black;
}



/* ====================popup signUp========================= */

.bgModel {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  /* display: none; */
  padding: 11% 0 0 35%;
  align-items: center;
  /* display: none; */
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.modelContent {
  width: 500px;
  height: 520px;
  background-color: white;
  border-radius: 4px;
  position: relative;
}
.modelContent h1 {
  text-align: center;
  font-weight: 300;
  /* color:#b9bbae; */
  
  
}
.close a{
    position:absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
    text-decoration: none;
    color: black;
  }
  .close a:hover,.close a:focus{
    color: red;
  }

  #signupTitle{
    padding-bottom: 20px;
  }
  .modelContent input[type="password"]::placeholder{
padding-left: 10px; 
}

#google {
  background-color: #b9bbae;
  padding: 5px;
  margin: 0px 50px 0 80px;
  border-radius: 5px;
  color: black;
  font-weight: 300;

}

#facebook {
  background-color: #b9bbae;
  padding: 5px;
  margin: 10px 0px 0 7px;
  border-radius: 5px;
  color: black;
  font-weight: 300;
}


#google:hover {
  background-color: rgb(255, 255, 255);
  filter: drop-shadow(5px 6px 1px #b9bbae);
}
#facebook:hover {
  background-color: rgb(255, 255, 255);
  filter: drop-shadow(5px 6px 1px #b9bbae);
}

#or h6{
    margin:50px 0 0 0;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
}

#haveAccount h4 {
    font-size: 18px;
    font-weight: 200;
    margin-right: 90px;
    text-align: center;
    
  }
  #haveAccount h4 #haveSign {
    color: red;
    text-decoration: underline;
  }
  #haveAccount h4 #haveSign:hover {
    text-shadow: 5px 5px 3px black;
  }


  /*================== Sign-up form validation's================= */
  
.input-control {
  display: flex;
  flex-direction: column;
}

.input-control input {
  border: 2px solid #f0f0f0;
border-radius: 4px;
display: block;
font-size: 12px;
padding: 10px;
width: 100%;
}

.input-control input:focus {
  outline: 0;
}

.input-control.success input {
  border-color: #09c372;
}

.input-control.error input {
  border-color: #ff3860;
}

.input-control .error {
  color: #ff3860;
  font-size: 11px;
  height: 3px;
  text-align: center;
}























/* =====================DASHBOARD===================== */
.adminContent{
  display: flex;
  padding: 0 65px;
  height: 70vh;
  flex-direction: row;
}
.adminColumns{
 
  /* border: 5px solid green; */

}
.col11{
  width: 20%;

}
.col22{
  width: 80%;

}

.list{
  margin:20px auto;    
}
#linkList{
width:fixed;
}



 /* =====================tables=================== */

.tableBox{
  margin: 50px auto;
  padding-left: 100PX;
  
}
.tableRow{
  display: table;
  width: 80%;

  margin: 10px auto;
  font-family: sans-serif;
  background:transparent;
  padding: 12px 0;
  color: #555;
  font-size: 13px;
  box-shadow: 0 1px 4px 0 rgb(0, 0, 50,0.3);
}
.tableCell{
  display: table-cell;
  width: 30%;
  text-align: center;
  pad: 4px 0;
  border-right: 1px solid #d6d4d4;
  vertical-align: middle;
  padding: 10px 0;

}
.fa-pen-to-square{
  font-size: 25px;
  cursor: pointer;
}
.fa-recycle, .fa-upload{
  font-size: 25px;
  cursor: pointer;
}
.fa-trash-can{
  font-size: 25px;
  color: red;
  cursor: pointer;
}
.tableHead .tableCell {
  background: rgb(96, 133, 143);
  box-shadow: none;
  color: white;
  font-weight: 600;
}
.tableHead .tableCell{
  border-right: none;
}

.lastCell{
  border-right: none;
}




/* left side */
.leftBox{
  display: table;
  width: 80%;
  margin: 10px auto;
  font-family: sans-serif;
  background:transparent;
  padding: 12px 0;
  color: #555;
  font-size: 13px;
  box-shadow: 0 1px 4px 0 rgb(0, 0, 50,0.3);
}
.leftCell{
  display: table-cell;
  width: 3%;
  text-align: center;
  pad: 4px 0;
  /* border-right: 1px solid #d6d4d4; */
  vertical-align: middle;
  cursor: pointer;

}

.leftCell a{
text-decoration: none;
color: #555;
}

.leftBox:hover{
  box-shadow: 4px 5px  10px black;
}
.leftTable{
  margin: 50px auto;
}




/* search */
#search{
justify-content: center;
align-items: center;
width: 30%;
height: 30px;
border-radius: 13px;
border-color: white;
margin:0 0 20px 40% ;
font-size: 18px;
/* text-align: center; */
}
#search::placeholder{
  padding-left: 15px;
}


#h2{
  justify-content: center;
  font-weight: 200;
  color: rgb(6, 88, 109);
  margin-left: 45%;
}


/* ===========================Blog======================== */
.gridContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    margin: 30px 65px ;
   justify-content: space-between;
    
}

.blogPost {
  width: 45%;
  background: white;
  margin: -10px 20px 20px 20px;
  box-shadow: 10px -3px 15px grey;
  margin-bottom:80px;

  
}

.blogPost:hover{
  box-shadow: 5px 10px 10px #06586d;
  
}
.blogContents{
  margin-left: 10px;

}
.blogCategory{
  color: green;
  margin:500 0px;
  font-size: 12px;
}
.blogTitle{
  color: black;
  margin-top: 5px;
  font-size: 18px;
}
.blogAuthor{
  color: black;
  margin-top: 5px;
  font-size: 12px;
padding-bottom: 10px;
}

.blogImage img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}


/* =========================Single Blog=============================== */
 .viewBlogContents{
   margin:0 75px;
  padding-top: 40px; 
 

}
.blogImageSingle img{
  height: 70%;
  width: 70%;
  object-fit: cover;
  object-position: center;
} 

 .blogComments{
  margin:0 95px;
  width: 40%;
  box-shadow: 5px -3px  20px #a3bac0;
  padding: 3px 30px;
  width:60%;
  height: 180px;
  /* background-color: red; */

 
}

.blogCategorySingle{
  color: green;
  margin-left: 10px;
}
.blogAuthorSingle{
  margin-left: 10px;
  padding: 3px 0px;
}
.blogContentSingle{
  width: 70%;
  padding:20px 0px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight:600;
}
#blogIntro{
  width: 60%;
  padding: 12px 20px;
  display: inline-block;
}
#commentorName{
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
} 
#blogComment {
  padding: 12px 20px;
  margin: 0px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-height: 56px;
  min-width: 100%;
  max-width: 100%;

}
#commentButton{
  width: 15%;
  padding: 8px 15px;
  margin: 3px 0 0 638px;
  display: inline-block;
  border: 1px solid #ccc;
  background-color: #06586d;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
}
#displayBlogComment{
  margin:0 75px;
  padding: 3px 30px;
  min-width: 30px;
}
#displayBlogComment p{
  padding: 20px 0px;
  text-decoration: underline;
  margin-left: 300px;
}
.comment-table{
  width:70%;
  box-shadow: 5px -3px  20px #a3bac0;
}
.newsNews{
  margin:0 95px;
  width: 40%;
  box-shadow: 5px -3px  20px #a3bac0;
  padding: 3px 30px;
  width:60%;
  height: 180px;
}
/* ==============Skills page================= */
.skillsColumns{
  display: flex;
  padding: 0  65px 0px 65px;  
  margin-bottom: -40px;
}
.sColumns{
  /* border: 5px solid blue; */
  height: 70vh;
}
.scol1{
width: 50%;
}
.scol2{
  width: 50%;


  }
  #sp1{
    text-align: center;
    font-size: 30px;
    font-weight: 200;
    margin: 150px 0 0 0;
  }
  #sIcons{
    width: 25px;
    height: 25px;
    text-align: center;
  }
.col22 .tableRow .tableCell{
    border: none;
  }
  .col22 .tableBox{
    margin-top: 30px;
  }
 

  .col22 .tableRow{
    display: table;
    width: 90%;
    margin:-5px 0 0 0;
    font-family: sans-serif;
    background:transparent;
    padding: 1px 0;
    color: #555;
    font-size: 13px;
    box-shadow: 0 1px 4px 0 rgb(0, 0, 50,0.3);
    justify-content: center;}
.sBox{
  margin-left: 120px;
  margin-right: -100px;
}



/* ==================BLOG PAGES======================== */

.blogColumns{
    display: grid;
    /* padding: 100 0 0 100px; */
    width: 100%;
    height: 100vh;


}
.bColumn{
  /* border: 3px solid red; */
  height: 100vh;
}
.bCol1{
  margin: 0 65px;
  height: 80vh;  
  color: black;

}
.bCol1 h1{
  color: #09c372;
  text-align: center;
  font-size: 50px;
}
.bCol1 img{
  height: 80 vh;
  width: 100 vh;

}




.bCol2{
  margin: 0  600px 0 65px;
  font-size: 20px;
}


/* ===========================Add post====================== */


#addPostForm input[type="text"],input[type="url"],input[type="email"]{
  width:100%;
  padding:12px 20px;
  margin:8px 0;
  display: inline-block;
  border: 1px solid rgb(165,161,161);
  border-radius: 4px;
}

#updatePostForm input[type="text"],input[type="select"],input[type="email"]{
  width:400px;
  padding:12px 20px;
  margin:8px 0;
  display: inline-block;
  border: 1px solid rgb(165,161,161);
  border-radius: 4px;
}

#updatePostForm textarea{
  width: 400px;
  height: 70px;
  }

    
  #updatePostForm .category{
    width:400px;
    padding:12px 20px;
    margin:8px 0;
    display: inline-block;
    border: 1px solid rgb(165,161,161);
    border-radius: 4px;
  }

.category{
  width:100%;
  padding:12px 20px;
  margin:8px 0;
  display: inline-block;
  border: 1px solid rgb(165,161,161);
  border-radius: 4px;
}
#date{
  width:90%;
  padding:12px 20px;
  margin:8px 0;
  display: inline-block;
  border: 1px solid rgb(165,161,161);
  border-radius: 4px;
}

#submitBlog , #update{
  background:#b9bbae;
  padding:6px 50px;
  margin:15px 0 10px 100px;
  display: inline-block;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
}

#submitBlog:hover , #update:hover{
  background-color: rgb(255, 255, 255);
  filter: drop-shadow(5px 6px 1px #b9bbae);
}

.mb-5{
  margin-left: 200px;
  padding-top: 40px;
  width: 40%;
}



.mb-5 label{
padding-left: 180px;
/* color: red; */
}
.mb-5 textarea{
  width: 100%;
  height: 70px;
  }

  #addPostForm textarea {
    white-space: pre-wrap;
  }


/* displaying the blog */
#crudTable {
  border-collapse: collapse;
  width: 100%;
}

#crudTable th, #crudTable td {
  /* border: 1px solid #ddd; */
  padding: 8px;
  text-align: left;
}

#crudTable tbody tr {
  height: 50px; /* adjust the value as needed */
}

#crudTable tbody td {
  max-width: 200px; /* adjust the value as needed */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.delete-button{
  background-color: red;
  border: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
}

.edit-button{
  background-color: green;
  border: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;

}











  /* =======================Dashboard Home============================= */
.col33{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  
    padding-top: 50px;
    padding-bottom: 100px;
  }
  .col33 .stat1, .stat2, .stat3
  {
    /* border: 1px solid red; */
    width: 100px;
    height: 100px;
    border-radius: 10px;
    text-align: center;
    
  }
  .col33 .stat1 p, .stat2 p, .stat3
   p{
    margin-top: 10px;
    font-size: 18px;
  }
  .stat1{
    background-color: rgba(119, 184, 201, 0.418);

    
  }
  .stat2{
    background-color: rgba(0, 255, 13, 0.534);


  }
  .stat3{
    background-color: rgba(255, 0, 0, 0.637);

  }
  .col33 .col22{
    grid-column: span 4;

  }


  /* ================Add post results table====================== */
  

  table{
    border-collapse: collapse;
  
  }


  td,th{
    /* border: 1px solid green; */
    padding: 8px;
    border-radius: 2px;
        
  }
  tr:nth-child(even),table.listing thead>tr{
    background-color:#b9bbae;
  }
 .listing{
    width: 40vw;

  }

/* ============================Profile page=============== */


.sidebar li {
  list-style: none;
  margin-left: 0;
}

.sidebar {
  width: 20vw;
  box-shadow: grey 2px 2px;
  padding-bottom: 2vh;
  min-height: 10vh;
}

.profile {
  position: absolute;
  top: 0;
  right: 0;
}

.main {
  width: 60vw;
  position: absolute;
  left: 22vw;
  top: auto;
}



/* --------------Messages from contact me page------------ */
.message-table  {
  width: 500px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-collapse: collapse;
  margin-left: 150px;
}

.message-table th, td {
  padding: 10px;
  text-align: left;
}

.message-table th {
  background-color:rgb(6, 88, 109);
  font-weight: bold;
}

.message-table td {
  border-bottom: 1px solid  #ddd;
}

/* --------------Newsletter from contact blogs page------------ */
.news-table  {
  width: 500px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-collapse: collapse;
  margin-left: 250px;
}

.news-table  th, td {
  padding: 10px;
  text-align: left;
}

.news-table  th {
  background-color:rgb(6, 88, 109);
  font-weight: bold;
}

.news-table td {
  border-bottom: 1px solid  #ddd;
}

